<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.butterfly" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".location.LocationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="x2uMHwCF9vY2TbrX5cyYRPwt" />

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".login.LogonActivity"
            android:label="@string/title_activity_logon" >
        </activity>
        <activity
            android:name=".login.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name=".location.GeoFenceActivity"
            android:label="@string/title_activity_geo_fence" >
        </activity>
        <activity
            android:name=".location.LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name=".location.MainLocActivity"
            android:label="@string/title_activity_main_loc" >
        </activity>
        <activity
            android:name=".location.NotifyActivity"
            android:label="@string/title_activity_notify" >
        </activity>
        <activity
            android:name=".location.QuestActivity"
            android:label="@string/title_activity_quest" >
        </activity>
    </application>

</manifest>
